* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
}


/* This project use all colors */

/* background-color */

/* text-color */

/* number color */



/* Header nav Styling */
.nav-container {
    background-color: #1A0B2E;
    padding: 16px 200px;
    width: 100%;
    box-shadow: 0px 5px 20px 5px rgb(255, 254, 254);


}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    align-items: center;
    text-align: center;
}

.nav-logo a {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-logo-span-tag {
    color: #FF6B6B;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

/* navbar responsive design */
@media (max-width: 576px) {
    .nav-container {
        padding: 16px 20px;
    }

    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 16px;
        flex-direction: column;
        gap: 8px;
    }

    .nav-links {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .nav-button {
        margin-top: 16px;
    }
}

/* Header content Styling  */
.header-main-content {
    background: url(/images/hero-bg.png);
    height: 760px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-main-content-microphone {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}



.header-main-content-microphone-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ffcc33, #ff00cc, #7b2cff);

    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFFFFF;
}

.header-main-content-microphone-image img {
    width: 125px;
    height: auto;
}

.header-main-content-microphone-text {
    margin-top: 40px;
    text-align: center;
    color: #FFFFFF;
}

.header-main-content-microphone-text h1 {
    font-size: 48px;
    font-weight: 800;
}

.header-main-content-microphone-text p {
    font-size: 26px;
    margin-top: 8px;
    font-weight: 400;
}

.header-main-content-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.header-main-content-button-a {
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(135deg, #ffcc33, #ff00cc, #7b2cff);
    color: #FFFFFF;
    border: none;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.header-main-content-button-b {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

/* Header responsive design  */
@media (max-width: 576px) {
    .header-main-content {
        min-height: 100vh;
        padding: 40px 20px;
        background: url(/images/hero-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        background-size: cover;
    }

    .header-main-content-microphone-image img {
        width: 70px;
        height: 70px;
    }

    .header-main-content-microphone-image {
        width: 200px;
        height: 200px;
    }

    .header-main-content-microphone-text h1 {
        font-size: 32px;
    }

    .header-main-content-microphone-text p {
        font-size: 18px;
    }

    .header-main-content-buttons-a {
        font-size: 4px;
        padding: 10px 14px;
    }
}

/* header main content end */
.header-main-content-end {
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 120px 200px;
}

.header-main-content-end-fast-card {
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
}

.header-main-content-end-fast-card h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.header-main-content-end-fast-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 80px;
}

.header-main-content-end-hr {
    border: 0.5px solid #ffffff50;
    margin-bottom: 80px;
}

.header-main-content-end-Sceound-card {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.header-main-content-end-Sceound-card-item {
    text-align: center;
    flex: 1;
}

.header-main-content-end-Sceound-card-item h1 {
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 8px;
}

.header-main-content-end-Sceound-card-item p {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

/* header main content end responsive design */
@media (max-width: 576px) {
    .header-main-content-end {
        padding: 30px 20px 60px 20px;
    }

    .header-main-content-end-fast-card h1 {
        font-size: 32px;
    }

    .header-main-content-end-fast-card p {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .header-main-content-end-Sceound-card {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .header-main-content-end-Sceound-card-item h1 {
        font-size: 32px;
    }
}


/* Why-Choose-TechWave */

#Why-Choose-TechWave {
    background-color: #230E3D;
}

.Choose-TechWave-content {
    padding: 120px 200px 120px 200px;
}

#Why-Choose-TechWave h1 {
    text-align: center;
}

.Choose-TechWave-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, fr1);
    grid-template-rows: repeat(3, 200px);

}

.Choose-TechWave-container {
    padding: 80px 5%;
    display: flex;
    justify-content: center;
}

.Choose-TechWave-container-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(160px, auto);
    gap: 20px;
}

/* all cards */
.Choose-TechWave-container-card>div {
    background: linear-gradient(145deg, #2b0f4f, #1b0833);
    border-radius: 18px;
    padding: 22px;
    color: #fff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
}

.Choose-TechWave-container-card>div:hover {
    transform: translateY(-6px);
}

.Choose-TechWave-container-card h3 {
    margin: 10px 0 6px;
    font-size: 18px;
}

.Choose-TechWave-container-card p {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.85;
}

.Choose-TechWave-container-card>div:nth-child(1) {
    grid-row: span 2;
}

.Choose-TechWave-container-card>div:nth-child(2) {
    grid-row: span 1;
    grid-column: span 2;
}

.Choose-TechWave-container-card>div:nth-child(3) {
    grid-row: span 1;
    grid-column: span 2;
}

.Choose-TechWave-container-card>div:nth-child(4) {
    grid-column: span 2;
}
.Choose-TechWave-container-card>div:nth-child(4) img{
    grid-column: span 2;
    height: 40px;
    width: 40px;
}

.Choose-TechWave-container-card img {
    width: 32px;
    margin-bottom: 8px;
}

/* Choose-TechWave-container responsive style  */


@media screen {
    
}